.grid {
  display: flex;
  flex-wrap: wrap;
}

.column {
  padding: 1rem;
  @include breakpoint($large) {
    padding: 2rem;
  }
}

// .grid-gap-1 {
//   margin: 0 -1rem;
//   .column {
//     padding: 1rem;
//   }
// }

// .grid-gap-2 {
//   margin: -1rem 0;
//   .column {
//     padding: 1rem;
//   }
//   @include breakpoint($large) {
//     margin: 0 -2rem;
//     .column {
//       padding: 2rem;
//     }
//   }
// }

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.size-1of1 {
  width: 100%;
}

.size-1of2 {
  width: 100%;
  @include breakpoint($medium) {
    width: 50%;
  }
}

.size-1of3 {
  width: 100%;
  @include breakpoint($medium) {
    width: calc(100% * 1 / 3);
  }
}

.size-2of3 {
  width: 100%;
  @include breakpoint($medium) {
    width: calc(100% * 2 / 3);
  }
}

.size-1of6 {
  width: 50%;
  @include breakpoint($large) {
    width: calc(100% * 2 / 12);
  }
}

.order-1 {
  @include breakpoint($medium) {
    order: 1;
  }
}
