.marginAz {
  margin: 0;
}

.marginTz {
  margin-top: 0;
}

.marginBz {
  margin-bottom: 0;
}

.paddingTz {
  padding-top: 0;
}

.paddingBz {
  padding-bottom: 0;
}

.paddingHz {
  padding-right: 0;
  padding-left: 0;
}