.margin-z {
  margin: 0;
}

.margin-tz {
  margin-top: 0;
}

.margin-bz {
  margin-bottom: 0;
}

.padding-tz {
  padding-top: 0;
}

.padding-bz {
  padding-bottom: 0;
}

.padding-hz {
  padding-right: 0;
  padding-left: 0;
}