.Card {
  padding: 1rem;
  width: 100%;

  @include breakpoint($medium) {
    padding: 1rem 1.5rem;
    width: 50%;
  }

  @include breakpoint($large) {
    padding: 2rem;
  }

  &--Order {
    @include breakpoint($medium) {
      order: 1;
    }
  }

  &__Inner {
    position: relative;
    transform: translate(0, 0);
    transition: 400ms transform ease-in-out;

    &:hover {
      @include breakpoint($medium) {
        transform: translate(-0.5rem, 0.5rem);

        .Card--Reverse & {
          transform: translate(0.5rem, 0.5rem);
        }

        .Card--Offline & {
          transform: translate(0);
        }

        &:not(.Card--Offline &) {
          cursor: url("../../Images/cursor-pointer.svg"), pointer;

          .Card__Shadow {
            transform: translate(0);
          }
        }
      }
    }
  }

  &__Link {
    position: absolute;
    inset: 0;
    z-index: 9;
  }

  &__Image {
    padding-bottom: 56%;
    background-color: var(--black);
    border: 0.125rem solid var(--black);
    border-radius: 0.625rem;
    position: relative;
    z-index: 3;
    overflow: hidden;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  &__Shadow {
    display: none;

    @include breakpoint($medium) {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      border-radius: 0.625rem;
      border: 0.125rem solid var(--black);
      transform: translate(0, 0);
      transition: 400ms transform ease-in-out;

      &--0 {
        transform: translate(-0.5rem, 0.5rem);
        z-index: 2;

        .Card--Reverse & {
          transform: translate(0.5rem, 0.5rem);
        }
      }

      &--1 {
        transform: translate(-1rem, 1rem);
        z-index: 1;

        .Card--Reverse & {
          transform: translate(1rem, 1rem);
        }
      }
    }
  }
}
