h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  line-height: 1;
}

.heading {
  margin-bottom: 0.75rem;
  font-size: 1.17rem;
  @media screen and (min-width: $bpMedium) {
    margin-bottom: 1.125rem;
    font-size: 1.5rem;
  }
  &--large {
    font-size: 1.5rem;
    @media screen and (min-width: $bpMedium) {
      font-size: 2rem;
    }
  }
}
