p {
  letter-spacing: 0.03125rem;
  line-height: 1.7;
}

.monotype {
  font-family: "GT-Pressura-Mono-Regular", monospace;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-border {
  border-bottom: .125rem solid black;
}
