p,
.text-default {
  font-size: 0.875rem;
  letter-spacing: 0.03125rem;
  line-height: 1.7;
  @include breakpoint($medium) {
    font-size: 1rem;
  }
}

.monotype {
  font-family: "GT-Pressura-Mono-Regular", monospace;
}

.text-small {
  font-size: 0.75rem;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-border {
  border-bottom: 0.125rem solid black;
}

.text-offline {
  font-family: "GT-Pressura-Mono-Regular", monospace;
  color: var(--red);
  letter-spacing: 0.03125rem;
}
