::selection {
  color: var(--white);
  background-color: var(--purple);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  background: var(--baby-blue);
  cursor: url("../../Images/cursor-auto.svg"), auto;
}

a {
  &:hover {
    cursor: url("../../Images/cursor-pointer.svg"), pointer;
  }
}

.section {
  padding: 2rem 1rem;
  @media screen and (min-width: $bpLarge) {
    padding: 4rem 5rem;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 77rem;
}
