@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: "GT-Pressura-Mono-Regular";
  src: url("../Fonts/GT-Pressura-Mono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

// @font-face {
//   font-family: "Manrope-Regular";
//   src: url("../Fonts/Manrope-Regular.woff2") format("woff2");
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
//   unicode-range: U+000-5FF;
// }

// @font-face {
//   font-family: "Manrope-Medium";
//   src: url("../Fonts/Manrope-Medium.woff2") format("woff2");
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
//   unicode-range: U+000-5FF;
// }

// @font-face {
//   font-family: "Manrope-SemiBold";
//   src: url("../Fonts/Manrope-SemiBold.woff2") format("woff2");
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
//   unicode-range: U+000-5FF;
// }

// @font-face {
//   font-family: "Manrope-Bold";
//   src: url("../Fonts/Manrope-Bold.woff2") format("woff2");
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
//   unicode-range: U+000-5FF;
// }

// @font-face {
//   font-family: "Manrope-ExtraBold";
//   src: url("../Fonts/Manrope-ExtraBold.woff2") format("woff2");
//   font-weight: 800;
//   font-style: normal;
//   font-display: swap;
//   unicode-range: U+000-5FF;
// }