:root {
  --baby-blue: #d2dee0;
  --blue: #069edd;
  --teal: #00949d;
  --light-pink: #f6e4e0;
  --pink: #fda2c7;
  --purple: #b97ffe;
  --yellow: #fde703;
  --gold: #f5b434;
  --orange: #f05820;
  --red: #de4342;
  --almost-white: #fef4d3;
  --white: #fff;
  --black: #000000;
}
